.main-register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #2e2e2e;
  color:black;
}

.main-register form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 550px;
 
}

.main-register h2 {
  color: #ff5722;
  font-size:1.8rem;
}

.main-register input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding:10px;
  height: 50px;
}

.main-register input::placeholder {
  color: #999;
}

.main-register button {
  width: 100%;
  background-color:orangered;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  place-self: center;
  padding: 12px;
}

.main-register button:hover {
  background-color: #e64a19;
}

